# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.TornadoSmash.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\MehmethanSargin\Desktop\myrepo\TornadoSmash\.idea\.idea.TornadoSmash\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
